<div class="header d-flex flex-row">
    <div class="brand">
        <div class="brand-logo-div">
            <img src="../../assets/images/covid-logo.png" alt="COVID-LOGO" class="brand-logo">
            <span class="brand-name"> COVID-19 Dashboard</span>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="buttons">
        <a href="" class="button">Dashboard</a>
        <a href="vaccination" class="button">Vaccination</a>
        <a href="contact" class="button">Contact</a>
    </div>
</div>