.title {
    text-align: center;
    color: white;
    padding-top: 75px;
    padding-bottom: 150px;
    font-weight: bold;
}

.breadcrumbs {
    flex: 1 1 auto;
    margin-left: 10%;
    margin-bottom: 10px;
}

.breadcrumb-label {
    position: relative;
    top: -8px;
    padding-left: 10px;
    font-size: larger;
    font-weight: 500;
    color: rgba(56, 56, 56, 0.7);
}

.cards-container {
    padding-top: 10px;
    margin: 0px auto;
}

.card{
    margin: 10px 10px 10px 10px;
    height: 150px;
    width: 280px;
    border-radius: 15px;
    border-width: 0px;
}

.confirmed-card {
    background-color: rgba(146, 146, 146,0.7);
}

.active-card {
    background-color: rgba(0, 0, 0, 0.7);
}

.recovered-card {
    background-color: rgba(0, 197, 0, 0.7);
}

.deaths-card {
    background-color: rgba(204, 0, 0, 0.7);
}

.card-icons {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.4);
}

.heading-center {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: larger;
    font-weight: 700;
    margin-top: -5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.card-data {
    color: white;
    text-align: center;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.new-data-white {
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

